{% extends '../base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Developer Dashboard</title>
</head>
<body>
  <div class="container-scroller">
    {% include '../developer_navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{user.username}}</h3>
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin transparent">
              <div class="row">
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Project</p>
                      <p class="fs-30 mb-2">{{projects|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Modules</p>
                      <p class="fs-30 mb-2">{{modules|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Task</p>
                      <p class="fs-30 mb-2">{{tasks|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Total Work Hours</p>
                      <p class="fs-30 mb-2">47033</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Your Day-to-Day Work Hours</p>
                  <p class="font-weight-500">Check Your Dedication to Work!</p>
                  <div class="d-flex flex-wrap mb-5">
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Total Days</p>
                      <h3 class="text-primary fs-30 font-weight-medium">12.3k</h3>
                    </div>
                    <div class="mt-3">
                      <p class="text-muted">Today's Work Hours</p>
                      <h3 class="text-primary fs-30 font-weight-medium">34040</h3>
                    </div> 
                  </div>
                  <canvas id="order-chart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
								<div class="card-body">
									<h4 class="card-title">Calendar</h4>
									{% comment %} <div class="list-wrapper pt-1">
										<ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                      {% for modules in modules %}
                      <li>
												<div class="form-check form-check-flat">
														{{modules.module_name}}-{{modules.project}}
												</div>
											</li>
                      {% endfor %}
										</ul>
                  </div> {% endcomment %}
								</div>
							</div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title mb-0">To Do</p>
                      <div class="list-wrapper pt-1">
                        {% for task in tasks %}
                        {% if task.status == "Pending" %}
                                <div class="border border-secondary">
                                  <b>{{task.task_title}}</b> ➡️ <a href="#" data-toggle="modal" data-target="#exampleModalLong{{ task.id }}"> Details </a><br>
                                    {% if task.priority == 'Less' %}
                                      <div class="badge badge-info">Less</div>
                                    {% else %}
                                      <div class="badge badge-danger">High</div>                                      
                                    {% endif %}
                                    |
                                      <div class="badge badge-warning">Pending</div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalLong{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">{{task.task_title}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <p>Task Title: {{ task.task_title }}</p>
                                            <p>Task Description: {{ task.task_description }}</p>
                                            <p><b>Project: {{task.project}}</p>
                                            <p>Module: {{task.module}}</b></p>
                                            <p>Priority: 
                                              {% if task.priority == 'Less' %}
                                                <div class="badge badge-info">Less</div>
                                              {% else %}
                                                <div class="badge badge-danger">High</div>                                      
                                              {% endif %}
                                            </p>
                                            <p>Status: <p class="badge badge-warning">Pending</p></p>
                                            <p>Estimated Hours: {{task.task_estimated_hours}}</p>
                                            <p><b>User: {{task.user}}</b></p>
                                            <p>Start Time: {{task.start_time}}</p>
                                            <p>End Time: {{task.end_time}}</p>
                                          </div>
                                          <div class="modal-body">
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title mb-0">In Progress</p>
                      <div class="list-wrapper pt-1">
                        {% for task in tasks %}
                        {% if task.status == "In Progress" %}
                        <div class="border border-secondary">
                          <a href ="#"><b>{{task.task_title}}</b></a><br>
                            {% if task.priority == 'Less' %}
                              <div class="badge badge-warning">Less</div>
                            {% else %}
                              <div class="badge badge-danger">High</div>                                      
                            {% endif %}
                            |
                            {% if task.status == 'Completed' %}
                              <div class="badge badge-success">Completed</div>
                            {% elif task.status == 'Pending' %}
                              <div class="badge badge-warning">Pending</div>
                            {% else %}
                              <div class="badge badge-danger">Cancelled</div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title mb-0">Completed</p>
                      <div class="list-wrapper pt-1">
                        {% for task in tasks %}
                        {% if task.status == "Completed" %}
                        <div class="border border-secondary">
                          <b>{{task.task_title}}</b> ➡️ <a href="#" data-toggle="modal" data-target="#exampleModalLong{{ task.id }}"> Details </a><br>
                            {% if task.priority == 'Less' %}
                              <div class="badge badge-info">Less</div>
                            {% else %}
                              <div class="badge badge-danger">High</div>                                      
                            {% endif %}
                            |
                              <div class="badge badge-success">Completed</div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{task.task_title}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Task Title: {{ task.task_title }}</p>
                                    <p>Task Description: {{ task.task_description }}</p>
                                    <p><b>Project: {{task.project}}</p>
                                    <p>Module: {{task.module}}</b></p>
                                    <p>Priority: 
                                      {% if task.priority == 'Less' %}
                                        <div class="badge badge-info">Less</div>
                                      {% else %}
                                        <div class="badge badge-danger">High</div>                                      
                                      {% endif %}
                                    </p>
                                    <p>Status: <p class="badge badge-success">Completed</p></p>
                                    <p>Estimated Hours: {{task.task_estimated_hours}}</p>
                                    <p><b>User: {{task.user}}</b></p>
                                    <p>Start Time: {{task.start_time}}</p>
                                    <p>End Time: {{task.end_time}}</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
          <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
</body>
</html>
{% endblock content %}