{% extends '../base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Manager Dashboard</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://cdn.plot.ly/plotly-latest.min.css">
  <style>
    #project-chart {
      width: 100%;
      height: 100%;
      min-height: 400px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    table.calendar {
      border-collapse: separate;
      border-spacing: 0px;
    }
    table.calendar td {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        width: 90px;
        height: 90px;
    }
    table.calendar td.day {
      text-align: center;
      vertical-align: middle;
      width: 80px;
      height: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .today {
      background-color: yellow;
    }
    .meeting-scheduled {
      background-color: lightblue;
    }
  </style>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include '../manager_navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{user.username}}</h3>
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6>
                </div>
                <div class="col-12 col-xl-4">
                  <div class="justify-content-end d-flex">
                   <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                     <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="mdi mdi-calendar"></i> Notifications
                     </button>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2" style="">
                       <a class="dropdown-item" href="#">
                        <div>
                          <ul>
                            {% for developer in developersubmit %}
                            <li>
                              <div class="d-flex">
                                <div>
                                  <p class="text-info mb-1">{{developer.submit_developer_name}}</p>
                                    <p class="mb-0"><strong>{{developer.submit_title}}</strong></p>
                                  <small>{{developer.submit_submit_date}}</small>
                                </div>
                              </div>
                            </li>
                            {% endfor %}
                          </ul>
                        </div>
                       </a>
                     </div>
                   </div>
                  </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin transparent">
              <div class="row">
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Projects &nbsp;&nbsp;
                      <a href="{% url 'projectlist' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                        <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                      </svg></a></p>
                      <p class="fs-30 mb-2">{{projects|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Meetings &nbsp;&nbsp;
                        <a href="{% url 'schedulelist' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                          <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                        </svg></a></p>
                      <p class="fs-30 mb-2">{{schedules|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Modules &nbsp;&nbsp;
                        <a href="{% url 'moduleslist' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                          <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                        </svg></a></p>
                      <p class="fs-30 mb-2">{{modules|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Total Task &nbsp;&nbsp;
                        <a href="{% url 'taskslist' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">
                          <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                        </svg></a></p>
                      <p class="fs-30 mb-2">{{tasks|length}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  {{cal|safe}}
                  <!-- Modal for meeting details -->
                    <div class="modal fade" id="meeting-details-modal" tabindex="-1" role="dialog" aria-labelledby="meeting-details-modal-label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="meeting-details-modal-label">Meeting Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div id="meeting-details">
                              <!-- Meeting details will be inserted here -->
                              {% include 'user/meeting_details.html' %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <script>
                      $(document).ready(function() {
                        // Event listener for meeting link
                        $('.calendar-meeting-link').click(function() {
                          // Get the meeting ID from the data-meeting-id attribute
                          var meeting_id = $(this).data('meeting-id');
                          
                          // Make an AJAX request to get the meeting details
                          $.ajax({
                            url: '/get-meeting-details/' + meeting_id,
                            type: 'GET',
                            success: function(data) {
                              // Update the meeting details in the modal
                              $('#meeting-details').html(data);
                            },
                            error: function() {
                              alert('Error getting meeting details!');
                            }
                          });
                          
                          // Open the modal
                          $('#meeting-details-modal').modal('show');
                        });
                      });
                    </script>                    
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-2">Meetings</p>
                  <div style="height: 300px; overflow-y: scroll;">
                    <ul class="icon-data-list">
                      {% for meeting in schedules %}
                      <li>
                        <div class="d-flex">
                          <img src="{{meeting.created_by.profile_pic.url}}" alt="user">
                          <div>
                            <p class="text-info mb-1">{{meeting.created_by}}</p>
                            <a href="#" data-toggle="modal" data-target="#exampleModal{{meeting.id}}" style="color: inherit; text-decoration: none;">
                              <p class="mb-0"><strong>{{meeting.schedule_title}}</strong></p>
                            </a>
                            <small>{{meeting.schedule_meeting_date}}</small>
                          </div>
                        </div>
                      </li>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal{{meeting.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{meeting.schedule_title}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p><strong>Description:</strong> {{meeting.schedule_description}}</p>
                              <p><strong>Meeting URL:</strong> <a href="{{ meeting.schedule_meeting_url }}" target="_blank">{{ meeting.schedule_meeting_url }}</a></p>
                              {% if meeting.schedule_documents %}
                              <p><strong>Documents:</strong> <a href="{{ meeting.schedule_documents.url }}" target="_blank">{{ meeting.schedule_documents }}</a></p>
                              {% endif %}
                              <p><strong>Meeting Date:</strong> {{meeting.schedule_meeting_date}}</p>
                              <p>
                                <strong>Invited Developers: </strong>
                                {% for user in meeting.users.all %}
                                        {{ user.username }}
                                        {% if not forloop.last %}, {% endif %}
                                      {% empty %}
                                        No users invited yet.
                                      {% endfor %}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Pending Projects</p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>End Date</th>
                        </tr>  
                      </thead>
                      <tbody>
                        {% for project in pendingprojects %}
                        <tr>
                          <td>
                            <a href="{% url 'projectdetail' project.id %}" style="color: inherit; text-decoration: none;">
                            <strong>{{project.project_title}}</strong>
                            </a>
                          </td>
                          <td>{{project.project_completion_date}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Pending Modules</p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>End Date</th>
                        </tr>  
                      </thead>
                      <tbody>
                        {% for module in pendingmodule %}
                        <tr>
                          <td>
                            <a href="{% url 'modulesdetail' module.id %}" style="color: inherit; text-decoration: none;">
                            <strong>{{module.module_name}}</strong>
                            </a>
                          </td>
                          <td>{{module.module_completion_date}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Pending Tasks</p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>End Date</th>
                        </tr>  
                      </thead>
                      <tbody>
                        {% for task in pendingtask %}
                        <tr>
                          <td>
                            <a href="{% url 'tasksdetail' task.id %}" style="color: inherit; text-decoration: none;">
                            <strong>{{task.task_title}}</strong>
                            </a>
                          </td>
                          <td>{{task.end_time}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Project Achievement</p>
                  <p class="font-weight-500">Achievement of the total hours achieved by completed the projects</p>
                  {{ chart|safe }}
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                 <div class="d-flex justify-content-between">
                  <p class="card-title">Projects Assigned</p>
                 </div>
                  <p class="font-weight-500">Projects Assigned to us by this year and this chart represents the hardwork done by our company to complete the project on time.</p>
                  <div id="project-chart"></div>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script>
                      var data = [{
                        x: [{% for project in chs %}"{{ project.month }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
                        y: [{% for project in chs %}{{ project.total_projects }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                        type: 'bar',
                        marker: {
                          color: '#B0DAFF',
                          },
                      }];

                      var layout = {
                        xaxis: {title: 'Month'},
                        yaxis: {title: 'Total Projects'},
                        title: 'Total Projects by Month'
                      };

                      Plotly.newPlot('project-chart', data, layout);
                      window.addEventListener('responsive', function() {
                        Plotly.Plots.resize('project-chart');
                      });
                    </script>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
               <div class="card">
                  <div class="card-body">
                     <p class="card-title mb-0">InProgress Projects</p>
                     <div class="table-responsive">
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th>Title</th>
                                 <th>End Date</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for project in InProgressproject %}
                              <tr>
                                 <td>
                                    <a href="{% url 'projectdetail' project.id %}" style="color: inherit; text-decoration: none;">
                                    <strong>{{project.project_title}}</strong>
                                    </a>
                                 </td>
                                 <td>{{project.project_completion_date}}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
               <div class="card">
                  <div class="card-body">
                     <p class="card-title mb-0">InProgress Modules</p>
                     <div class="table-responsive">
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th>Title</th>
                                 <th>End Date</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for module in InProgressmodule %}
                              <tr>
                                 <td>
                                    <a href="{% url 'modulesdetail' module.id %}" style="color: inherit; text-decoration: none;">
                                    <strong>{{module.module_name}}</strong>
                                    </a>
                                 </td>
                                 <td>{{module.module_completion_date}}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
               <div class="card">
                  <div class="card-body">
                     <p class="card-title mb-0">InProgress Task</p>
                     <div class="table-responsive">
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th>Title</th>
                                 <th>End Date</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for task in InProgresstask %}
                              <tr>
                                 <td>
                                    <a href="{% url 'tasksdetail' task.id %}" style="color: inherit; text-decoration: none;">
                                    <strong>{{task.task_title}}</strong>
                                    </a>
                                 </td>
                                 <td>{{task.end_time}}</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
</body>
</html>
{% endblock content %}