{% extends '../base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Manager Dashboard</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://cdn.plot.ly/plotly-latest.min.css">
  <style>
    #project-chart {
      width: 100%;
      height: 100%;
      min-height: 400px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    table.calendar {
      border-collapse: separate;
      border-spacing: 0px;
    }
    table.calendar td {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        width: 90px;
        height: 90px;
    }
    table.calendar td.day {
      text-align: center;
      vertical-align: middle;
      width: 80px;
      height: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .today {
      background-color: yellow;
    }
    .meeting-scheduled {
      background-color: lightblue;
    }
  </style>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include '../manager_navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{user.username}}</h3>
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin transparent">
              <div class="row">
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Projects</p>
                      <p class="fs-30 mb-2">{{projects|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Meetings</p>
                      <p class="fs-30 mb-2">{{schedules|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Modules</p>
                      <p class="fs-30 mb-2">{{modules|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Total Task</p>
                      <p class="fs-30 mb-2">{{tasks|length}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  {{cal|safe}}
                  <!-- Modal for meeting details -->
                    <div class="modal fade" id="meeting-details-modal" tabindex="-1" role="dialog" aria-labelledby="meeting-details-modal-label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="meeting-details-modal-label">Meeting Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div id="meeting-details">
                              <!-- Meeting details will be inserted here -->
                              {% include 'user/meeting_details.html' %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <script>
                      $(document).ready(function() {
                        // Event listener for meeting link
                        $('.calendar-meeting-link').click(function() {
                          // Get the meeting ID from the data-meeting-id attribute
                          var meeting_id = $(this).data('meeting-id');
                          
                          // Make an AJAX request to get the meeting details
                          $.ajax({
                            url: '/get-meeting-details/' + meeting_id,
                            type: 'GET',
                            success: function(data) {
                              // Update the meeting details in the modal
                              $('#meeting-details').html(data);
                            },
                            error: function() {
                              alert('Error getting meeting details!');
                            }
                          });
                          
                          // Open the modal
                          $('#meeting-details-modal').modal('show');
                        });
                      });
                    </script>                    
                </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Pending Projects</p>
                  <div class="table-responsive">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Technology</th>
                          <th>Status</th>
                        </tr>  
                      </thead>
                      <tbody>
                        {% for project in pendingprojects %}
                        <tr>
                          <td>{{project.project_title}}</td>
                          <td>{{project.project_technology}}</td>
                          {% if project.status == 'Completed' %}
  
                            <td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
                          
                          {% elif project.status == 'Pending' %}
  
                            <td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
                          
                          {% else %}
  
                            <td class="font-weight-medium"><div class="badge badge-danger">Cancelled</div></td>
                            
                          {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Notifications</p>
                  <div style="height: 300px; overflow-y: scroll;">
                    <ul class="icon-data-list">
                      {% for developer in developersubmit %}
                      <li>
                        <div class="d-flex">
                          <img src="{{developer.submit_developer_name.profile_pic.url}}" alt="user">
                          <div>
                            <p class="text-info mb-1">{{developer.submit_developer_name}}</p>
                            <a href="#" data-toggle="modal" data-target="#exampleModal{{developer.id}}" style="color: inherit; text-decoration: none;">
                              <p class="mb-0"><strong>{{developer.submit_title}}</strong></p>
                            </a>
                            <small>{{developer.submit_submit_date}}</small>
                          </div>
                        </div>
                      </li>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal{{developer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{meeting.schedule_title}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p><strong>Description:</strong> {{meeting.schedule_description}}</p>
                              <p><strong>Meeting URL:</strong> <a href="{{ meeting.schedule_meeting_url }}" target="_blank">{{ meeting.schedule_meeting_url }}</a></p>
                              {% if meeting.schedule_documents %}
                              <p><strong>Documents:</strong> <a href="{{ meeting.schedule_documents.url }}" target="_blank">{{ meeting.schedule_documents }}</a></p>
                              {% endif %}
                              <p><strong>Meeting Date:</strong> {{meeting.schedule_meeting_date}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Project Achievement</p>
                  <p class="font-weight-500">Achievement of the total hours achieved by completed the projects</p>
                  {{ chart|safe }}
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin">
              <div class="card">
                <div class="card-body">
                 <div class="d-flex justify-content-between">
                  <p class="card-title">Projects Assigned</p>
                 </div>
                  <p class="font-weight-500">Projects Assigned to us by this year and this chart represents the hardwork done by our company to complete the project on time.</p>
                  <div id="project-chart"></div>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script>
                      var data = [{
                        x: [{% for project in chs %}"{{ project.month }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
                        y: [{% for project in chs %}{{ project.total_projects }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                        type: 'bar',
                        marker: {
                          color: '#B0DAFF',
                          },
                      }];

                      var layout = {
                        xaxis: {title: 'Month'},
                        yaxis: {title: 'Total Projects'},
                        title: 'Total Projects by Month'
                      };

                      Plotly.newPlot('project-chart', data, layout);
                      window.addEventListener('responsive', function() {
                        Plotly.Plots.resize('project-chart');
                      });
                    </script>
                </div>
              </div>
            </div>
          </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
</body>
</html>
{% endblock content %}