{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static "vendors/feather/feather.css" %}">
    <link rel="stylesheet" href="{% static "vendors/ti-icons/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.base.css" %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.css" %}">
    <link rel="stylesheet" href="{% static "vendors/ti-icons/css/themify-icons.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "js/select.dataTables.min.css" %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static "css/vertical-layout-light/style.css" %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}"/>

    <!-- plugins:js -->
    <script src="{% static "vendors/js/vendor.bundle.base.js" %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static "vendors/chart.js/Chart.min.js" %}"></script>
    <script src="{% static "vendors/datatables.net/jquery.dataTables.js" %}"></script>
    <script src="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.js" %}"></script>
    <script src="{% static "js/dataTables.select.min.js" %}"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static "js/off-canvas.js" %}"></script>
    <script src="{% static "js/hoverable-collapse.js" %}"></script>
    <script src="{% static "js/template.js" %}"></script>
    <script src="{% static "js/settings.js" %}"></script>
    <script src="{% static "js/todolist.js" %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static "js/dashboard.js" %}"></script>
    <script src="{% static "js/Chart.roundedBarCharts.js" %}"></script>
    <!-- End custom js for this page-->
</head>
<body>
    {% block content %}
    
    {% endblock content %}
</body>
</html>