{% extends '../base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Module Detail View</title>
  <style>
      .highlight {
        background-color: cyan;
        border-radius: 15px;
        padding: 4px;
      }     
  </style>
</head>
<body>
  <div class="container-scroller">
    {% include '../manager_navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Module Details of {{modulesdetail.module_name}}</h4>
                      <div class="form-group">
                        <h4>Module Name:</h4> {{modulesdetail.module_name}}
                      </div>
                      <div class="form-group">
                        <h4>Module Description:</h4>{{modulesdetail.module_description|safe}}
                      </div>
                      <div class="form-group">
                        <h4>Project Name:</h4><b>{{modulesdetail.project}}</b>
                      </div>
                      <div class="form-group">
                        <h4>Estimated Hours:</h4>{{modulesdetail.module_estimated_hours}}&nbsp;hours
                      </div>
                      <div class="form-group">
                        <h4>Start Date:</h4>{{modulesdetail.module_start_date}}
                      </div>
                      <div class="form-group">
                        <h4>Completion Date:</h4>{{modulesdetail.module_completion_date}}
                      </div>
                      <div class="form-group">
                        <h4>Status:</h4>
                        {% if modulesdetail.status == 'Completed' %}
                          <div class="badge badge-success">Completed</div>
                        {% elif modulesdetail.status == 'Pending' %}
                          <div class="badge badge-warning">Pending</div>
                        {% else %}
                          <div class="badge badge-danger">Danger</div>
                        {% endif %}
                      </div>
                  </div>
                </div>
              </div>
        </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
</body>
</html>
{% endblock content %}