{% extends '../base.html' %}
    {% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Developer Task List</title>
    </head>
    <body>
      <div class="container-scroller">
        {% include '../developer_navbar.html' %}
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title mb-0">Pending Projects</p>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Title</th>
                              <th>End Date</th>
                            </tr>  
                          </thead>
                          <tbody>
                            {% for project in pendingprojects %}
                            <tr>
                              <td>
                                <a href="{% url 'projectdetail' project.id %}" style="color: inherit; text-decoration: none;">
                                <strong>{{project.project_title}}</strong>
                                </a>
                              </td>
                              <td>{{project.project_completion_date}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title mb-0">Pending Modules</p>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Title</th>
                              <th>End Date</th>
                            </tr>  
                          </thead>
                          <tbody>
                            {% for module in pendingmodule %}
                            <tr>
                              <td>
                                <a href="{% url 'modulesdetail' module.id %}" style="color: inherit; text-decoration: none;">
                                <strong>{{module.module_name}}</strong>
                                </a>
                              </td>
                              <td>{{module.module_completion_date}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title mb-0">Pending Tasks</p>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Title</th>
                              <th>End Date</th>
                            </tr>  
                          </thead>
                          <tbody>
                            {% for task in pendingtask %}
                            <tr>
                              <td>
                                <a href="{% url 'tasksdetail' task.id %}" style="color: inherit; text-decoration: none;">
                                <strong>{{task.task_title}}</strong>
                                </a>
                              </td>
                              <td>{{task.end_time}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- main-panel ends -->
          </div>
        <!-- page-body-wrapper ends -->
      </div>
      <!-- container-scroller -->
    </body>
    </html>
    {% endblock content %}