{% extends '../base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Developer's Team List</title>
</head>
<body>
    <div class="container-scroller">
      {% include '../developer_navbar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Project Team</p>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                          <div class="row">
                            <!--Searching and sorting-->
                            <div class="col-sm-12 col-md-6">
                                <form method="get" action="{% url 'teamlist' %}">
                                  <div class="form-row align-items-center">
                                      <div class="col-auto my-1">
                                          <label class="mr-sm-2 sr-only" for="sort_by">Sort by</label>
                                          <select class="custom-select mr-sm-2" id="sort_by" name="sort_by">
                                              <option value="">Sort by</option>
                                              <option value="name" {% if request.GET.sort_by == 'project' %}selected{% endif %}>Project</option>
                                              <option value="start_date" {% if request.GET.sort_by == 'team_name' %}selected{% endif %}>Team Name</option>
                                          </select>
                                      </div>
                                      <div class="col-auto my-1">
                                          <label class="mr-sm-2 sr-only" for="search">Search</label>
                                          <input type="text" class="form-control" id="search" name="search" placeholder="Search" value="{{ request.GET.search }}">
                                      </div>
                                      <div class="col-auto my-1">
                                          <button type="submit" class="btn btn-primary">Submit</button>
                                      </div>
                                  </div>
                                </form>
                            </div>
                            <!--Searching and sorting ends-->
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <table class="display expandable-table dataTable no-footer" style="width: 100%;" role="grid">
                                <thead>
                                  <tr role="row">
                                      <th>No.</th>
                                      <th>Team Name</th>
                                      <th>Project Title</th>
                                      <th>Developers</th>
                                      <th>Badge</th>
                                      <th>Status</th>
                                      {% comment %} <th>More</th> {% endcomment %}
                                  </tr>
                                </thead>
                                <tbody>
                        
                                  {% for task in projectteam %}
                                  <tr class="table table-striped">
                                      <td>{{forloop.counter}}</td>
                                      <td>{{task.team_name}}</td>
                                      <td><b>{{task.project}}</b></td>
                                      <td>
                                        {% for user in task.user.all %}
                                          {{ user.username }}
                                          {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                      </td>
                                      <td>{{task.badge}}</td>
                                      <td class="font-weight-medium">
                                        {% if task.status == 'Completed' %}
              
                                          <div class="badge badge-success">Completed</div>
                                        
                                        {% elif task.status == 'Pending' %}
              
                                          <div class="badge badge-warning">Pending</div>

                                        {% elif task.status == 'In Progress' %}
            
                                        <div class="badge badge-info">In Progress</div>
                                        
                                        {% else %}
              
                                          <div class="badge badge-danger">Cancelled</div>
                                          
                                        {% endif %}
                                      </td>
                                      {% comment %} <td>
                                        <div class="dropdown show">
                                          <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ti-angle-down"></i>
                                          </a>
                                        
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <!--<a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>-->
                                            <a class="dropdown-item" href="#">
                                              <tr>
                                                <td colspan="8">
                                                  <table cellpadding="5" cellspacing="0" border="0" style="width:100%;">
                                                    <tbody>
                                                      <tr class="expanded-row">
                                                        <td colspan="8" class="row-bg">
                                                          <div>
                                                            <div class="d-flex justify-content-between">
                                                              <div class="cell-hilighted">
                                                                <div class="d-flex mb-2">
                                                                  <div class="me-2 min-width-cell">
                                                                    <p>Policy start date</p>
                                                                    <h6>25/04/2020</h6>
                                                                  </div>
                                                                  <div class="min-width-cell">
                                                                    <p>Policy end date</p>
                                                                    <h6>24/04/2021</h6>
                                                                  </div>
                                                                </div>
                                                                <div class="d-flex">
                                                                  <div class="me-2 min-width-cell">
                                                                    <p>Sum insured</p>
                                                                    <h5>$26,000</h5>
                                                                  </div>
                                                                  <div class="min-width-cell">
                                                                    <p>Premium</p>
                                                                    <h5>$1200</h5>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                              <div class="expanded-table-normal-cell">
                                                                <div class="me-2 mb-4">
                                                                  <p>Quote no.</p>
                                                                  <h6>Incs234</h6>
                                                                </div>
                                                                <div class="me-2">
                                                                  <p>Vehicle Reg. No.</p>
                                                                  <h6>KL-65-A-7004</h6>
                                                                </div>
                                                              </div>
                                                              <div class="expanded-table-normal-cell">
                                                                <div class="me-2 mb-4">
                                                                  <p>Policy number</p>
                                                                  <h6>Incsq123456</h6>
                                                                </div>
                                                                <div class="me-2">
                                                                  <p>Policy number</p>
                                                                  <h6>Incsq123456</h6>
                                                                </div>
                                                              </div>
                                                              <div class="expanded-table-normal-cell">
                                                                <div class="me-2 mb-3 d-flex">
                                                                  <div class="highlighted-alpha">
                                                                    A
                                                                    </div>		
                                                                    <div>
                                                                      <p>Agent / Broker</p>
                                                                      <h6>Abcd Enterprices</h6>
                                                                    </div>
                                                                  </div>
                                                                  <div class="me-2 d-flex">
                                                                    <img src="../../images/faces/face15.jpg" alt="profile">
                                                                    <div>
                                                                      <p>Policy holder Name &amp; ID Number</p>
                                                                      <h6>Phillip Harris / 1234567</h6>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <div class="expanded-table-normal-cell">
                                                                  <div class="me-2 mb-4">
                                                                    <p>Branch</p>
                                                                    <h6>Koramangala, Chicago</h6>
                                                                  </div>
                                                                </div>		
                                                                <div class="expanded-table-normal-cell">
                                                                  <div class="me-2 mb-4">
                                                                    <p>Channel</p>
                                                                    <h6>Online</h6>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                            </a>
                                          </div>
                                        </div>
                                      </td> {% endcomment %}
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              <div class="pagination justify-content-center">
                                <ul class="pagination">
                                  {% if page_obj.has_previous %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
                                  </li>
                                  {% endif %}
                                  {% for num in page_obj.paginator.page_range %}
                                  {% if page_obj.number == num %}
                                  <li class="page-item active">
                                    <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                                  </li>
                                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                  </li>
                                  {% endif %}
                                  {% endfor %}
                                  {% if page_obj.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                                  </li>
                                  {% endif %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
  <!-- container-scroller -->
</body>
</html>
{% endblock content %}